<section>
    <h2>Quem sou?</h2>
    <p>
        Sou <strong>Matheus Reis Mendonça</strong>, desenvolvedor pleno com foco em <strong>.NET</strong> e
        <strong>Angular JS</strong>, apaixonado por tecnologia e inovação. Tenho experiência em soluções escaláveis e
        eficientes.
    </p>
    <p>
        Trabalhei com <strong>C#</strong>, <strong>JavaScript</strong>, <strong>TypeScript</strong>, além de frameworks
        como <strong>.NET Core</strong>, <strong>Angular</strong> e <strong>ASP.NET WebAPI</strong>, desenvolvendo APIs
        robustas e aplicações front-end responsivas.
    </p>
    <p>
        Concluí minha graduação em <strong>Análise e Desenvolvimento de Sistemas</strong> (junho de 2024) e sou
        especializado em bancos de dados como <strong>SQL Server</strong>, <strong>MySQL</strong> e
        <strong>PostgreSQL</strong>, sempre buscando alto desempenho e confiabilidade.
    </p>
    <p>
        Tenho experiência com <strong>DevOps</strong> (Azure DevOps, <strong>GitHub Actions</strong>) e utilizo
        metodologias ágeis como <strong>Scrum</strong> e <strong>Kanban</strong> para colaborar em equipes dinâmicas e
        entregar resultados rápidos e eficientes.
    </p>
    <p>
        Também trabalho com <strong>FlutterFlow</strong>, criando soluções low-code para projetos rápidos e
        personalizados, sempre visando superar as expectativas.
    </p>

    <h3>Principais Qualidades</h3>
    <p><i class="fas fa-check" style="color: green; font-size: 16px;"></i>
        Desenvolvimento Full Stack: Experiência em Back-end com .NET (C#) e Front-end com Angular, criando soluções
        completas e eficientes.</p>
    <p><i class="fas fa-check" style="color: green; font-size: 16px;"></i>
        Expertise em Banco de Dados: Capacidade de
        analisar, gerenciar e otimizar bancos de dados como SQL Server,
        MySQL e PostgreSQL.</p>
    <p><i class="fas fa-check" style="color: green; font-size: 16px;"></i>
        Colaboração em Equipes Ágeis: Experiência
        prática com metodologias ágeis como Scrum e Kanban, promovendo uma
        colaboração eficiente em equipes multidisciplinares.</p>
    <p><i class="fas fa-check" style="color: green; font-size: 16px;"></i>
        Otimização e Melhoria Contínua: Foco em
        melhorar processos de desenvolvimento e otimizar o desempenho de
        sistemas e bancos de dados.</p>
    <p><i class="fas fa-check" style="color: green; font-size: 16px;"></i>
        Adaptação às Novas Tecnologias: Motivação
        constante para aprender e aplicar novas tecnologias, como o
        desenvolvimento low-code com FlutterFlow.</p>
    <p><i class="fas fa-check" style="color: green; font-size: 16px;"></i>
        Controle de Versionamento e CI/CD: Experiência
        com ferramentas de versionamento como Git, SVN, e CI/CD com
        Azure DevOps e GitHub Actions.</p>
    <p><i class="fas fa-check" style="color: green; font-size: 16px;"></i>
        Resolução de Problemas: Habilidade em resolver
        problemas complexos de forma lógica e eficiente, com foco em
        entregar soluções rápidas e de qualidade.</p>
    <div id="redes-sociais" class="redes-sociais">
        <div class="container">
            <a href="https://www.instagram.com/mtreis_/" target="_blank" class="btn-icone instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/5567991431860" target="_blank" class="btn-icone whatsapp">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.linkedin.com/in/matheus-reis-584098306" target="_blank" class="btn-icone linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</section>