<section id="contato" class="contato">
    <div class="container">
        <h2>Entre em Contato</h2>
        <p style="color: #ffff">Preencha o formulário abaixo e entraremos em contato com você.</p>

        <form action="#" method="POST" class="contato-form">
            <div class="input-group">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Seu nome completo" required>
            </div>

            <div class="input-group">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" placeholder="Seu e-mail" required>
            </div>

            <div class="input-group">
                <label for="mensagem">Mensagem:</label>
                <textarea id="mensagem" name="mensagem" rows="5" placeholder="Sua mensagem" required></textarea>
            </div>

            <button type="submit" class="btn-submit">Enviar</button>
        </form>
    </div>
    <section id="redes-sociais" class="redes-sociais">
        <div class="container">
            <a href="https://www.instagram.com/mtreis_/" target="_blank" class="btn-icone instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://wa.me/5567991431860" target="_blank" class="btn-icone whatsapp">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.linkedin.com/in/matheus-reis-584098306" target="_blank" class="btn-icone linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </section>
</section>