@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.video-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;


  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    background-color: #1e1c1c;
  }

  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h2 {
      font-size: 2rem;
      text-align: center;
      animation: fadeIn 1.5s ease-in-out forwards;
      animation-delay: 1s;
      opacity: 0;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      animation: fadeIn 1.6s ease-in-out forwards;
      animation-delay: 1s;
      opacity: 0;
    }

    div {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
      padding: 1rem;
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.875rem;
      }

      div {
        width: 90%;
        max-width: 100%;
      }
    }

    @media (max-width: 480px) {
      h2 {
        font-size: 1.25rem;
      }

      p {
        font-size: 0.75rem;
      }
    }
  }

  .whatsapp-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-decoration: none;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.1s;
    opacity: 0;

    img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
    }

    &:hover {
      background-color: #128c7e;
    }
  }

}