<section class="video-background">
  <video autoplay muted loop class="background-video">
    <source src="assets/videos/home.mp4" type="video/mp4">
    Seu navegador não suporta vídeos.
  </video>
  <div class="content">
    <h2 style="color: orange">Bora tirar sua ideia do papel?</h2>
    <p>Inovação e tecnologia alinhadas para desenvolver soluções personalizadas.</p>

    <a href="https://wa.me/5567991431860" class="whatsapp-btn" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" />
      Fale comigo no WhatsApp
    </a>

  </div>
</section>